header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Ligar{
    justify-items: column;
    width: 100px;
    border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transoform 0.5s ease;
}

.Ligar:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2);
}


.Desligar{
    width: 100px;
    border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transoform 0.5s ease;
}

.Desligar:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2);
}

.correct{
    
    width: 100px;
    border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transoform 0.5s ease;

}

.correct:hover{
        background-color: blue;
        color: white;
        transform: scale(1.2);
}